* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  color: #f3e5e5;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 20, 20);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  text-align: center;
}

hr {
  font-weight: bold;
  height: 3px;
  background: #f3e5e5;
  margin-bottom: 10px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: rgb(2, 202, 252);
}

.game button:hover {
  background-color: rgb(89, 222, 255);
}